<!doctype html>
<html>
  <head>
    <title>{{ title }} [{{ self.class() }}]</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="interlinear.css">
    {% block stylesheets %}{% endblock %}
  </head>
  <body class="{% block class %}plain{% endblock %}">
    <div class="container">
      <h1>{{ title }} <span class="interlinear-type">[{{ self.class() }}]</span></h1>
      {% block controls %}{% endblock %}
      {% block text -%}
        {% for row in rows -%}
          <div class="unit">
            {% include "_txt.html" %}
            <br>
            {% include "_gls.html" %}
          </div>
        {% endfor %}
      {% endblock %}
      <div style="clear: left;"></div>
      {% block post_text %}
      {% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
