$main-font-family: "Noto Serif", serif;
$widget-font-family: "Noto Sans", sans-serif;

$click-hover-color: #666;

$header-color: #444;
$header-background: #F7F7F7;
$header-nav-color: #999;
$header-nav-hover-color: #000;

$page-arrow-color: #999;
$page-arrow-hover-color: #000;

$main-text-color: #333;

$main-text-small-size: 12pt;
$main-text-normal-size: 15pt;
$main-text-large-size: 18pt;

$text-milestone-color: #999;
$interlinear-color: gray;

$widget-color: #666;
$widget-background: #F7F7F7;
$widget-hover-color: #000;
$widget-header-background: #EEE;
$widget-header-hover-background: #DDD;
$widget-rule: #CCC;
$widget-remove: #C00;
