.container {
  margin-top: 50px;
}
.toggles {
  font-family: "PT Sans", "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
.toggle {
  display: block;
  margin: 5px 0px;
  background: #EEE;
  padding: 3px 10px 3px 6px;
  border-radius: 3px;
  color: black;
  cursor: pointer;
}
.toggle > span {
  color: #CCC;
}
.text {
  font-family: "Skolar";
  font-size: 16pt;
  line-height: 1.5;
  word-spacing: normal;
  color: #333;
}

body.show-verses .show-verses {
  color: #000;
}
body.larger-text .larger-text {
  color: #000;
}
body.extra-line-height .extra-line-height {
  color: #000;
}
body.extra-word-spacing .extra-word-spacing {
  color: #000;
}
body.extra-line-height .text {
  line-height: 2.0;
}
body.larger-text .text {
  font-size: 20pt;
}
body.extra-word-spacing .text {
  word-spacing: 200%;
}

body.case-N .case-N {
  color: #C00;
}
body.case-G .case-G {
  color: #9C6;
}
body.case-D .case-D {
  color: #6CC;
}
body.case-A .case-A {
  color: #FC0;
}
body.ind .pos-V-.mood-I {
  color: #00C;
}
body.part .pos-V-.mood-P {
  color: #99F;
}
body.inf .pos-V-.mood-N {
  color: #9C9;
}
body.pos-D .pos-D- {
  color: #0C6;
}
body.pos-C .pos-C- {
  color: #99C;
}

.verse {
  display: none;
}
body.show-verses .verse {
  font-family: "PT Sans", "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 60%;
  color: #999;
  display: inline;
}
