<div class="toggles">
  <span class="toggle" data-target="show-verses"><span class="show-verses">&#x25CF;</span>&nbsp;show verse numbers</span>
  <hr>
  <span class="toggle" data-target="larger-text"><span class="larger-text">&#x25CF;</span>&nbsp;larger text</span>
  <span class="toggle" data-target="extra-line-height"><span class="extra-line-height">&#x25CF;</span>&nbsp;extra line height</span>
  <span class="toggle" data-target="extra-word-spacing"><span class="extra-word-spacing">&#x25CF;</span>&nbsp;extra word spacing</span>
  <hr>
  <span class="toggle" data-target="case-N"><span class="case-N">&#x25CF;</span>&nbsp;nominative</span>
  <span class="toggle" data-target="case-G"><span class="case-G">&#x25CF;</span>&nbsp;genitive</span>
  <span class="toggle" data-target="case-D"><span class="case-D">&#x25CF;</span>&nbsp;dative</span>
  <span class="toggle" data-target="case-A"><span class="case-A">&#x25CF;</span>&nbsp;accusative</span>
  <hr>
  <span class="toggle" data-target="ind"><span class="pos-V- mood-I">&#x25CF;</span>&nbsp;indicative</span>
  <span class="toggle" data-target="part"><span class="pos-V- mood-P">&#x25CF;</span>&nbsp;participle</span>
  <span class="toggle" data-target="inf"><span class="pos-V- mood-N">&#x25CF;</span>&nbsp;infinitive</span>
  <hr>
  <span class="toggle" data-target="pos-D"><span class="pos-D-">&#x25CF;</span>&nbsp;adverb</span>
  <span class="toggle" data-target="pos-C"><span class="pos-C-">&#x25CF;</span>&nbsp;conjunction</span>
</div>
