<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Online Reader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="skolar.css">
    <link rel="stylesheet" href="reader.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          {% include "_toggles.html" %}
        </div>
        <div class="col-md-10">
          <div class="text">
            {% for v, rows in verses %}
            <span class="verse">{{ v.verse_num }}</span>&nbsp;{% for row in rows -%}
              <span>{{ row["before"] }}<span class="pos-{{row['ccat-pos']}} mood-{{row['ccat-parse'][3]}} case-{{row['ccat-parse'][4]}}">{{ row["word"] }}</span>{{ row["after"] }}</span>
            {% endfor -%}
            {%- endfor %}
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="reader.js"></script>
  </body>
</html>
