<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../jktauber-labs/skolar.css">
    <link rel="stylesheet" href="../reader.css">
  </head>
  <body class="plain">
    <div class="container">
      <h1>{{ title }}</h1>
      <div class="text">
        {{ content }}
      </div>
      <div class="page-nav-2">
      {% if prev_file %}
        <a class="prev" href="../{{ prev_file }}">&lt;</a>
      {% endif %}
      {% if next_file %}
        <a class="next" href="../{{ next_file }}">&gt;</a>
      {% endif %}
      </div>
    </div>
  </body>
</html>
