@import "../jktauber-labs/skolar.css";

h1 {
  font-family: "Skolar";
  color: #933;
  font-weight: normal;
  font-variant: small-caps;
}
span.section {
  font-family: "Skolar";
  color: #933;
  font-weight: normal;
  font-variant: small-caps;
}
div.container {
  width: 800px;
  margin: 50px auto;
}
div.text {
  font-size: 18pt;
  line-height: 24pt;
  word-spacing: 150%;
  font-family: "Skolar";
}
div.page-nav-1 a {
  text-decoration: none;
  padding: 5px 10px;
  background: #333;
  color: #FFF;
}
div.page-nav-1 a:hover {
  background: #666;
}
div.page-nav-2 a {
  display: block;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 33%;
  text-decoration: none;
  font-size: 100pt;
  color: transparent;
  padding-top: 100px;
}
div.page-nav-2 a.prev {
  left: 0px;
  text-align: left;
  padding-left: 50px;
}
div.page-nav-2 a.next {
  right: 0px;
  text-align: right;
  padding-right: 50px;
}
div.page-nav-2 a:hover {
  color: rgba(0, 0, 0, 0.1);
}
